/* ---- imports ---- */

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100&display=swap');

/* ---- root (var) ---- */

:root {
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --darker-blue: hsl(216, 12%, 8%);

  --orange: hsl(25, 97%, 53%);

  --weight-400: 400;
  --weight-700: 700;
}

/* ---- universal ---- */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Overpass', sans-serif;
  font-size: 1.6rem;
  font-weight: var(--weight-400);
  color: var(--white);
}

/* ---- classes ---- */

.row {
  display: flex;
  flex-direction: row;
}

/* ---- body ---- */

body {
  height: 100vh;

  padding: auto;
  margin: 0 2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--darker-blue);
}

body .container {
  display: flex;
  flex-direction: column;

  padding: 2.5rem;
  border-radius: 1.5rem;

  background: linear-gradient(135deg, var(--dark-blue), var(--darker-blue));
}

.text__img {
  padding: 0.5rem;
  border-radius: 50%;
  background-color: var(--medium-grey);
}

.text__h1 {
  margin: 2.5rem 0;
  color: var(--white);
}

.text__p {
  margin: 0 0 2.5rem 0;
  color: var(--light-grey);
  font-weight: var(--weight-700);
}

.feedback__rating {
  display: flex;
  justify-content: space-between;

  margin: 0 0 2rem 0;
}

.feedback__rating .btnRating {
  padding: 1.5rem;

  color: var(--white);
  background-color: var(--medium-grey);

  border-radius: 50%;
  border: none;
}

.feedback__Submit #btnSubmit {
  width: 100%;
  padding: 1rem;

  color: var(--white);
  background-color: var(--orange);

  border-radius: 2rem;
  border: none;
}
